---
import lock from "../assets/icons/lock-footer.svg";
---

<footer
  class="flex flex-col items-center sm:flex-row sm:justify-between bg-dark-blue text-white py-3 sm:py-6 px-6 md:px-12 text-sm"
>
  <div class="flex gap-2 items-center mb-4 sm:mb-0">
    <p>Copyright (C) 2023</p>
    <div class="w-0.5 h-5 bg-white opacity-40"></div>
    <p>clarifionsupport@clarifion.com</p>
  </div>
  <div>
    <div class="flex items-center gap-2">
      <img src={lock.src} alt="Lock icon" class="w-4" />
      <p>Secure 256-Bit SSL Encryption.</p>
    </div>
  </div>
</footer>
