---
import clarifionLogo from "../assets/images/clarifion-logo.svg";
import mcafee from "../assets/images/mcafee.svg";
import norton from "../assets/images/norton.svg";
---

<header class="px-4 md:px-24 py-6">
  <div class="flex items-center justify-between mb-8">
    <img src={clarifionLogo.src} alt="Clarifion logo" class="w-28 md:w-auto" />
    <div class="flex items-center gap-4">
      <img src={mcafee.src} alt="McAfee logo" class="w-16 md:w-auto" />
      <img src={norton.src} alt="Norton logo" class="w-16 md:w-auto" />
    </div>
  </div>
  <div class="text-center space-y-2">
    <h1 class="capitalize text-4xl md:text-5xl">
      wait! your order in progress.
    </h1>
    <h3 class="capitalize text-sm md:text-xl text-light-gray">
      Lorem ipsum dolor sit amet, consectetur adipiscing
    </h3>
  </div>
</header>
